.verMas {
    padding: 2rem;
    margin: 2rem auto;
    display: flex;
    gap: 3rem;
    background-color: white;
    width: 90vw;

    border-radius: 5rem;
}

.verMasPhoto {
/*     display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    width: 60rem; */
    flex: 1;
}

.verMasPhoto img {
    width: 90%;
    height: 90%;
}

.verMasInfo{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
}

@media (max-width: 950px) {
    .verMas {
        flex-direction: column;
    }
    .verMasPhoto img {
        width: 100%;
        height: 100%;
    }
    .verMasInfo {
        align-items: center;
        justify-content: center;
    }
}