.homePageContainer {
/*     display: flex;
    flex-direction: column; */
}

.toolTitulo span {
    font-family: var(--fuente-secundaria);
    color: var(--rojo-boton);
    font-weight: 800;
    font-size: 2.5rem;
}

@media (max-width: 400px) {
    .toolTitulo {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}